<ul class="pagination pagination-sm justify-content-center">
  <ng-container *ngIf="firstLast">
    <li class="page-item" [class.disabled]="result.page <= 0">
      <a  class="page-link"  href="#" aria-label="First"
        (click)="$event.preventDefault();list.setPage(0)">
        First
      </a>
    </li>
  </ng-container>
  <ng-container *ngIf="prevNext">
    <li class="page-item" [class.disabled]="result.page <= 0">
      <a  class="page-link"  href="#" aria-label="Previous"
        (click)="$event.preventDefault();list.setPage(result.page - 1)">
        Prev
      </a>
    </li>
  </ng-container>
  <ng-container *ngFor="let p of btns">
    <ng-container *ngIf="p === result.page">
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{p + 1}}
          <span class="sr-only">(current)</span>
        </span>
      </li>
    </ng-container>
    <ng-container *ngIf="p !== result.page">
      <li class="page-item">
        <a class="page-link" href="#"
          role="button" (click)="$event.preventDefault();list.setPage(p)">
          {{p + 1}}
        </a>
      </li>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="prevNext">
    <li class="page-item" [class.disabled]="result.page >= result.pageCount - 1">
      <a  class="page-link"  href="#" aria-label="Next"
        (click)="$event.preventDefault();list.setPage(result.page + 1)">
        Next
      </a>
    </li>
  </ng-container>
  <ng-container *ngIf="firstLast">
    <li class="page-item" [class.disabled]="result.page >= result.pageCount - 1">
      <a  class="page-link"  href="#" aria-label="Last"
        (click)="$event.preventDefault();list.setPage(result.pageCount - 1)">
        Last
      </a>
    </li>
  </ng-container>
  </ul>
