<ng-container *ngIf="result">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="showMissingFilter">Missing...</label>
        <select class="form-control" [formControl]="missingSelect" id="showMissingFilter">
          <option value="">All Socks (don't filter by missing)</option>
          <option value="none">Missing none</option>
          <option value="left">Missing left</option>
          <option value="right">Missing right</option>
        </select>
      </div>
      <div class="form-group">
        <label for="purchasePriceSelect">Purchase Price...</label>
        <select class="form-control" [formControl]="purchasePriceSelect" id="purchasePriceSelect">
          <option value="">All Socks (don't filter by price)</option>
          <option value="<10">Less than $10</option>
          <option value=">=10">$10 - $24.99</option>
          <option value=">=25">$25 - $49.99</option>
          <option value=">=50">$50 - $99.99</option>
          <option value=">=100">More than $100</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label [attr.for]="id + 'search-1'" class="sr-only">Search</label>
        <ngx-list-bootstrap-search-control
          [list]="list"
          filterKey="search"
          [inputId]="id + 'search-1'"
          placeholder="Search socks..."
          bootstrapSize="sm"></ngx-list-bootstrap-search-control>
      </div>
    </div>
  </div>
  <label for="foo-bar">Page</label>

  <div class="my-5">

  </div>

  <div class="row">
    <div class="col-sm-8 col-lg-10">
      <ngx-list-bootstrap-page-controls bootstrapSize="lg" [list]="list"></ngx-list-bootstrap-page-controls>
    </div>
    <div class="col-sm-4 col-lg-2">
      <div class="form-group">
        <label for="rpp-1" class="sr-only">Socks Per Page</label>
        <ngx-list-bootstrap-rpp-control inputId="rpp-1"
          [list]="list"
          [options]="[0, 10, 25, 50, 100]">
        </ngx-list-bootstrap-rpp-control>
      </div>
    </div>
  </div>

  <div class="table-responsive" *ngIf="result.records.length > 0">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list" columnKey="id">ID</ngx-list-bootstrap-sort-link>
          </th>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list" columnKey="name">Sock Name</ngx-list-bootstrap-sort-link>

          </th>

          <th>
            <ngx-list-bootstrap-sort-link [list]="list" columnKey="color">Color</ngx-list-bootstrap-sort-link>
          </th>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list"
            columnKey="lastWorn">Last Worn</ngx-list-bootstrap-sort-link>

          </th>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list"
              columnKey="purchased.date">Purchased</ngx-list-bootstrap-sort-link>

          </th>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list"
              defaultReversed="true"
              columnKey="purchased.price">Price</ngx-list-bootstrap-sort-link>
          </th>
          <th>
            <ngx-list-bootstrap-sort-link
            [list]="list" columnKey="currentValue"
            defaultReversed="true">Current Value</ngx-list-bootstrap-sort-link>

          </th>
          <th>
            <ngx-list-bootstrap-sort-link [list]="list" columnKey="missing">Missing</ngx-list-bootstrap-sort-link>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of result.records">
          <td>
            {{record.id}}
          </td>
          <td>
            {{record.firstName}} {{record.lastName}}
          </td>
          <td>
            {{record.color}}
          </td>
          <td>
            {{record.lastWorn | amDateFormat:'ll'}}
          </td>
          <td>
            {{record.purchased.date | amDateFormat:'ll'}}
          </td>
          <td>
            ${{record.purchased.price | number:'1.2-2'}}
          </td>
          <td>
            ${{record.currentValue | number:'1.2-2'}}
          </td>
          <td>
            {{record.missing ? record.missing : 'none'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="result.records.length === 0" class="text-muted">No results found.</p>

  <ngx-list-bootstrap-pagination
  [list]="list" bootstrapSize="sm" maxAdjacent="2"></ngx-list-bootstrap-pagination>

</ng-container>
